/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General rules - font family, size and colour*/

* {
    margin: 0; 
    padding: 0; 
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: saddlebrown;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: darkslategrey;
}

/* navbar */

.navbar {
    background-color: palegoldenrod;
    border-bottom: 0.5rem solid saddlebrown;
}

.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link {
    font-size: 1.8rem;
    color: saddlebrown;
    font-family: 'Roboto Slab', serif;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: saddlebrown;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem;
}

.navbar-light .navbar-nav .active>.nav-link {
    text-decoration: dashed underline saddlebrown;
}

.navbar-light .navbar-brand:hover, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #0c0cff;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #0c0cff;
    font-weight: bold;
}

.navbar-light .navbar-toggler {
    color: palegoldenrod;
    border: 1px solid saddlebrown;
}

button:focus {
    outline: none;
}

/* footer */

footer {
    background-color: palegoldenrod;
    margin-top: 2rem;
    border-top: 0.5rem solid saddlebrown;
}

.socialmedia {
    text-align: center;
    margin-bottom: 0;
}

.socialmedia li {
    display: inline;
}

.socialmedia i {
    padding: 1.5rem 7%;
    font-size: 1.8rem; 
    color: saddlebrown;
}

.socialmedia i:hover {
    color: #0c0cff;
}

/* carousel */

.carousel {
    width: 90%;
    margin: 2rem 5% 1rem 5%;
    background-color: palegoldenrod;
    border: 1px solid saddlebrown;
}

/* home */

.home {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
    padding: 0;
}

.home .row {
    margin: 0;
}

.home .col-12, .home .col-md-6 {
    margin-top: 1rem;
    padding: 0;
}

.introduction {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: palegoldenrod; 
    border: 1px solid saddlebrown; 
    height: 100%;
}

.introduction>h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;;
}

.facilities {
    padding-left: 2rem;
}

.facilities ul {
    list-style-type: square;
    color: DarkSlateGrey;
} 

.facilities li {
    margin: 0.2rem 0;
}

/* prices */

.prices {
    width: 90%;
    margin: 2rem 5% 1rem 5%;
}

.prices-outer {
    background-color: palegoldenrod;
    border: 1px solid saddlebrown;
    margin-bottom: 2rem;
}

.prices h2 {
    text-align: center;
    text-decoration: underline;
    color: saddlebrown;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
    padding-top: 1rem;
}

.prices-inner {
    margin: 2rem 5% 1rem 5%;
}

.prices .prices-picture {
    margin-bottom: 20px;
    width: 100%;
}

.prices img {
    width: 100%;
}

.prices table {
    width: 100%;
    color: saddlebrown;
    border: 1px solid darkslategrey;
    background-color: lightblue;
}

.prices table th {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px solid DarkSlateGrey;
    border-bottom: 1px solid DarkSlateGrey;
    border-left: 1px solid DarkSlateGrey;
    border-right: 1px solid DarkSlateGrey;
    color: DarkSlateGrey;
}

.prices table td {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px dashed DarkSlateGrey;
    border-top: 1px dashed DarkSlateGrey;
    border-left: 1px solid DarkSlateGrey;
    border-right: 1px solid DarkSlateGrey;
    color: DarkSlateGrey;
}

/* contact image */

.contact-img {
    width: 90%;
    height: 450px;
    margin: 2rem 5% 1rem 5%;
    background-color: saddlebrown;
    border: 1px solid saddlebrown;
    background-image: url(../images/contact-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

.contact-img .contact-text {
    margin-left: 5%;
    width: 90%;
    position: absolute;
    height: 100%;
}

.contact-img #contact-heading {
    background-color: rgba(1,1,1,0.6);
    position: relative;
    margin-top: 5%;
    padding: 1rem;    
}

.contact-img #contact-heading h2 {
    font-size: 1.4rem;
    font-weight: 500;
    color: whitesmoke;
}

.contact-img #contact-heading h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: whitesmoke;
}

.contact-img #contact-table {
    background-color: rgba(1,1,1,0.2);
    padding: 1rem;   
    position: absolute;
    bottom: 2%;
    width: 100%; 
}

.contact-img #contact-table h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: whitesmoke;
}

.contact-img #contact-table table {
    width: 100%;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    margin-bottom: 0;
}

.contact-img #contact-table table th {
    padding: 0;
    vertical-align: top;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 1rem;
}

.contact-img #contact-table table td {
    padding: 0;
    vertical-align: top;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-top: 1px dashed whitesmoke;
    border-top: 1px dashed whitesmoke;
    color: whitesmoke;
    font-size: 0.8rem;
}

.contact-img #contact-table table .day {
    text-align: left;
    padding-left: 0.5rem;
}

.contact-img #contact-table table .open-close {
    text-align: center;
}

/* form */

form {
    width: 90%;
    margin: 2rem 5% 1rem 5%;
    background-color: saddlebrown;
    border: 1px solid saddlebrown;
    background-image: url(../images/contact-form.jpg);
    background-repeat: no-repeat;
    background-position: 35% center; 
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

form .overlay {
    background-color: rgba(1, 1, 1, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
}

form .col-12, form .col-md-6, form .col-3 {
    margin-top: 0;
}

form>h2 {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    color: whitesmoke;
    margin: 1rem 0 1rem 0;
    padding-top: 1rem;
    position: relative;
}

form .details {
    margin-bottom: 2rem;
}

form fieldset {
    height: 100%;
    margin: 0 1rem;
    border: 2px dashed whitesmoke;
    padding: 0 1rem;
}

form fieldset legend {
    color: whitesmoke;
    width: auto;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    text-decoration: underline;
}

form fieldset, form legend, form label {
    font-weight: 600;
    color: whitesmoke;
}

form label {
    margin-left: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}

form .details label {
    min-width: 40%;
    padding: 0.5rem 0;
}

form .details input {
    width: 55%;
}

form .details select {
    min-width: 55%;
}

form textarea, form select {
    margin-bottom: 1rem;
}

form textarea {
    width: 100%;
}

form .submit-reset {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

form #submit, form #reset {
    display: inline-block;
}

form #submit {
    margin-right: 10%;
}

form input[type="submit"] {
    padding: 0.5rem;
    background-color: palegoldenrod;
    color: saddlebrown;
    font-size: 1.2rem;
    border: 2px solid saddlebrown;
    position: relative;
}

form input[type="submit"]:hover {
    background-color: saddlebrown;
    color: palegoldenrod;
    border: 2px solid palegoldenrod;
}

form button {
    padding: 0.5rem;
    background-color: whitesmoke;
    color: #0c0cff;
    font-size: 1.2rem;
    border: 2px solid #0c0cff;
    position: relative;
}

form button:hover {
    background-color: #0c0cff;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

/* Media queries */

/* Screen less than 768px */
@media screen and (max-width: 768px)  {
    
    /* when navar is opened on smaller screens - 
    remove (on active page) underline and update font size and padding */
    .navbar-light .show .navbar-nav .nav-link, .navbar-light .collapsing .navbar-nav .nav-link {
        font-size: 1.6rem;
        padding: 0.2rem;
        text-decoration: none;
    }

    /* Use resized images for small devices */
    .contact-img {
    background-image: url(../images/contact-img-small.jpg);
    }

    .form {
    background-image: url(../images/contact-form-small.jpg);
    }

}

/* Screen more than 768px */
@media screen and (min-width: 768px) {

    .carousel {
        width: 80%;
        margin: 2rem 10% 1rem 10%;
    }

    .home {
        width: 80%;
        margin: 1rem 10% 1rem 10%;
    }

    .facilities {
        margin-right: 0.5rem;
    }

    .reviews {
        margin-left: 0.5rem;
    }

    .prices {
        width: 80%;
        margin: 2rem 10% 1rem 10%;
    }

    .prices .prices-picture {
        margin-bottom: 0;
        margin-right: 5%;
        width: 95%;
    }

    .contact-img {
        width: 80%;
        margin: 2rem 10% 1rem 10%;
        height: 450px;
        background-position: 0% 80%;
    }

    .contact-img .contact-text {
        margin-left: 10%;
        width: 80%;
    }

    .contact-img #contact-table table td {
        font-size: 1rem;
    }

    form {
        background-position: center center;
        width: 80%;
        margin: 2rem 10% 1rem 10%;
    }

    form fieldset {
        margin: 0 2rem;
    } 

}

/* Screen more than 992px */
@media screen and (min-width: 992px) {

    .carousel {
        width: 70%;
        margin: 2rem 15% 1rem 15%;
    }

     .home {
        width: 70%;
        margin: 1rem 15% 1rem 15%;
    }

    .prices {
        width: 70%;
        margin: 2rem 15% 1rem 15%;
    }

    .contact-img {
        width: 70%;
        margin: 2rem 15% 1rem 15%;
        height: 550px;
    }

    .contact-img .contact-text {
        margin-left: 15%;
        width: 70%;
    }

    form {
        width: 70%;
        margin: 2rem 15% 1rem 15%;
    }

    form .details {
        margin-bottom: 0;
    }

    form .details fieldset {
        margin: 0 0.5rem 0 2rem;
    }

    form .enquiry fieldset {
        margin: 0 2rem 0 0.5rem;
    }

    form .submit-reset {
        text-align: left;
        margin: 2rem;
    }

    form #submit {
        margin-right: 20px;
    }

}

/* Screen more than 1200px */
@media screen and (min-width: 1200px) {

    .carousel {
        width: 60%;
        margin: 2rem 20% 1rem 20%;
    }

    .home {
        width: 60%;
        margin: 1rem 20% 1rem 20%;
    }

    .prices {
        width: 60%;
        margin: 2rem 20% 1rem 20%;
    }

    .contact-img {
        width: 60%;
        margin: 2rem 20% 1rem 20%;
        background-position: 0% 60%;
    }

    .contact-img .contact-text {
        margin-left: 20%;
        width: 60%;
    }

    form {
        width: 60%;
        margin: 2rem 20% 1rem 20%;
    }

}

